#mainNav {
    display: none;
}

.extension-row img {
    width: 120px;
    margin: 0 20px;
    height: auto;
}

.trident-img {
    position: absolute;
    bottom: -20px;
    left: 20px;
    opacity: 0.15;
    width: 750px;
    height: auto;
}

@media (min-width: 768px) {
    header .device-container {
        margin: 40px 0;
    }
    #mainNav {
        display: block;
    }
}

@media (max-width: 768px) {
    header .header-content {
        padding: 50px 0;
    }
    .device-container {
        display: none;
    }
    .extension-row img {
        margin-bottom: 10px;
    }
    #download {
        padding-bottom: 0;
    }
    .trident-img {
        position: absolute;
        bottom: -10px;
        left: 50%;
        opacity: 0.15;
        width: 300px;
        transform: translate(-50%, 0);
        height: auto;
    }   
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: absolute;
    top: 15px;
    left: 15px;
}

.navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600 !important;
    color: #fff !important;
}

.device-container {
    margin-right: 100px;
}

.device-container .mobile-preview {
    width: auto;
    height: 970px;
    right: 100px;
}

#download {
    background-color: #fff;
}

#download hr {
    max-width: 1000px;
}

#download .row {
    margin-bottom: 40px;
}

.app-row {
    padding-bottom: 30px;
}

.extension-row {
    padding-top: 30px;
}

section.download {
    padding: 100px 0 80px 0;
}

.ios-download:hover {
    cursor: default;
}

.ios-download img {
    opacity: 0.15;
}

header {
    overflow: hidden;
    background: url(../img/bg-pattern.png),linear-gradient(to left,#6D3C87,#B564E0);
}

.badge-link {
    margin: 0 5px;
}