body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

/*.body-overlay-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    opacity: 0.75;
    z-index: -2;
}

.body-overlay-2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/overlay.png");
    opacity: 0.65;
    z-index: -1;
}*/

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 32px;
    color: #333333;
    font-weight: 600;
    z-index: 999;
}

.panel {
    width: 100%;
    height: 70%;
    margin-top: 10%;
    box-shadow: 0px 6px 0px 0px rgba(131,131,131,0.75);
    border-radius: 0.15em;
}

.panel-body {
    height: 100%;
    width: 100%;
    opacity: 1 !important;
}

.panel-body img {
    border-radius: 0.15em;
}

.img-chat {
    position: relative;
    left: 25px;
}

.img-extension {
    position: relative;
    top: -250px;
}

.img-portrait {
    position: absolute;
    right: 0;
    width: 28vw;
    height: auto;
}

.img-landscape {
    position: relative;
    width: auto;
    height: 28vw;
    bottom: 0;
}

/*body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.body-overlay-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: purple;
    background-size: cover;
    opacity: 0.75;
    z-index: 0;
}

.body-overlay-2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/overlay.png");
    opacity: 0.65;
    z-index: 2;
}

.content {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    z-index: 999;
}

.img-portrait {
    position: absolute;
    right: 10px;
    bottom: 140px;
    width: 28vw;
    height: auto;
}

.img-landscape {
    position: absolute;
    right: 10px;
    bottom: 50px;
    width: auto;
    height: 28vw;;
}

.img-extension {
    position: absolute;
    left: 100px;
    bottom: 55px;
    border-radius: 0.4em;
}

.img-chat {
    position: absolute;
    left: 130px;
    bottom: 105px;
    border-radius: 0.4em;
}

.content h2 {
    position: absolute;
    color: #fff;
    font-weight: 600;
    z-index: 110;
}

.extension-header {
    bottom: 10px;
    left: 150px;
}

.app-header{
    bottom: 10px;
    right: 150px;
}

.extension-download {
   position: absolute;
   left: 640px;
   bottom: 18px;
   z-index: 90;
}

.extension-download img {
    width: 90px;
    height: auto;
    margin-bottom: 35px;
}

.app-download {
    position: relative;
    margin: 250px 0 0 130px;
    z-index: 100;
}

.android-download {
    width: 300px;
    height: auto;
}

.ios-download {
    width: 270px;
    height: auto;
    opacity: 0.5;
    margin-left: 15px;
}*/
